PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/authdb?schema=public
REDIS_URL="redis://localhost:6379"
SESSION_SECRET=secret
CORS_ORIGIN=http://localhost:5173
EMAIL_SECRET=emailsecret
EMAIL_SENDER=test@domain.com
SENDGRID_API_KEY=apikey